.table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow-x: auto;
  overflow-y: hidden;
}

.table__row {
  display: flex;
  min-height: 20px;
  height: $row-height;
}

.table__row:last-child .table__row-info {
  border-bottom: 1px solid $border-color;
}
.table__row:last-child {
  padding-bottom: 2px;
}

.table__row-info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $info-cell-width;
  height: 100%;
  border: 1px solid $border-color;
  border-top: none;
  background-color: #f8f9fa;
  user-select: none;
}

.table__row-data {
  display: flex;
}

.table__column {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  min-width: 40px;
  width: $cell-width;
  border: 1px solid $border-color;
  border-top: none;
  border-left: none;
  height: 100%;
  user-select: none;
}

.table__column-resize,
.table__row-resize {
  position: absolute;
  background-color: $primary-color;
  transition: 0.3s opacity;
  opacity: 0;
  z-index: 1000;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.7;
  }
}

.table__column-resize {
  right: -3px;
  top: 0;
  width: 5px;
  bottom: 0;

  &:hover {
    cursor: col-resize;
  }
}

.table__row-resize {
  left: 0;
  right: 0;
  height: 5px;
  bottom: -3px;

  &:hover {
    cursor: row-resize;
  }
}

.table__cell {
  min-width: 40px;
  padding: 5px;
  width: $cell-width;
  height: 100%;
  border-bottom: 1px solid #e2e3e3;
  border-right: 1px solid #e2e3e3;
  color: #111;
  outline: none;
}

.table__cell_selected {
  border: none;
  outline: 2px solid $primary-color;
  z-index: 2;
}
